html{
    background-image: url("../img/landscape.jpg");
    background-repeat: no-repeat;

}

html,body{
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background-position: top;
}


.container{
    flex-flow: column;
    width: 300px;
    margin: 0px 0px;
    background-color: rgba(255,255,255,0.6);
    border: 1px solid white;
    border-radius: 1.75rem;
    padding: 25px 25px;
}




.button{
    display: flex !important;
    margin: 0 auto !important;
}

h1{
    text-align: center;
}