<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop CRM - Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" integrity="sha512-+AdxWMqfOdtwMuXK482e5OgHYzN06s97n3NTAeAdTlUvlIgCBx3SUKvMculJIedylDfVCaQFdD6HaojI4aeBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h1>Créer votre compte</h1>
    <form class="ui form" action="/user/signup" method="post" enctype="application/x-www-form-urlencoded">
        <div class="field">
            <label>Identifiant</label>
            <input type="text" name="name" placeholder="Identifiant">
        </div>
        <div class="field">
            <label>Mot de passe</label>
            <input type="password" name="password" placeholder="Mot de passe">
        </div>
        <div class="field">
            <label>Confirmer mot de passe</label>
            <input type="password" class="passwordconfirm" placeholder="Saisissez à nouveau votre mot de passe">
        </div>
        <div class="ui error message">
            <div class="header">Mot de passe non identique</div>
            <p>Veuillez renseigner le même mot de passe</p>
        </div>
        <button class="ui button" type="submit">Créer</button>
    </form>
</div>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js" integrity="sha512-VYhOmOOgmYsSFb0oxQcqkRrm/YmAnwNcuahdvSfMaQW7JqWb9g6XUciSICYUEOd0C3N+s1fN+Kkn85q+iYsDew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>